<% if current_user.is_admin? %>
  <h1>Admin View</h1>
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= link_to "Edit", edit_question_path(question) %></td>
        <td><%= link_to "Delete", question, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <h4><%= link_to "Add New Question", new_question_path %></h4>
<% elsif %>
  <h2>Take the Survey</h2>
  <% @questions.each do |q| %>
    <h4> <%= q.content %> </h4>
    <div id="question-options-<%= q.id %>">
      <%= render "answer_survey_form", question: q, answer: @answer %>
    </div>
    <div class="form-success-submit">
      <h4>Question Answered!</h4>
    </div>
  <% end %>
  <h3><%= link_to "Submit Survey", user_answers_path(current_user) %> </h3>
<% end %>
