<div class="row">
  <div class="col-md-6">
    <% if current_user.allowed_user_viewers.any? %>
      <%= render "show_matches" %>
    <% else %>
      <div class="show-user-answers">
        <h2>Your Survey Summary</h2>
        <% @answers.each do |a| %>
          <h4> <%= a.question.content %> </h4>
          <h5>You answered: <%= a.show_true %> </h5>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Find Common Ground</h2>
    <%= simple_form_for @allowed_user_viewer do |f| %>
      <h4>Enter a Friend or Family member's email to view survey comparison:</h4>
      <%= f.input :user_email, label: false %>
      <%= f.submit "Submit Email", :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
