<p>Name: <%= @survey.name %></p>

<ol>
<% @survey.questions.each do |question| %>
  <li><%= question.content %>
    <ol class="answers">
      <% question.answers.each do |answer| %>
        <li><%= answer.response %></li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
